* {
  box-sizing: border-box;
}

@font-face {
  font-family: Aviak;
  src: local(Aviak);
}

:root {
  --white: #fffaf6;
  --blue: #3b322e;
  --green: #c8e2b0;
}

a {
  color: var(--blue);
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
  padding: 16px;
  border: solid var(--blue) 1px;
}

body {
  background-color: var(--green);
  font-family: "Inter", sans-serif;
  margin: 0px;
}

h1 {
  color: var(--blue);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  max-width: 310px;
}

.aviak {
  font-family: Aviak;
  font-weight: normal;
  font-size: 6rem;
  line-height: 5.3rem;
  letter-spacing: 1.5px;
}

.aviak:hover {
  color: var(--green);
  transition: 0.7s;
}

h2 {
  margin: 0px;
  font-weight: 500;
  color: var(--blue);
}

p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 300;
  color: var(--blue);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 32px 100px;
  border-bottom: solid var(--blue) 1px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

header nav a {
  margin-left: 24px;
}

.intro {
  height: 300px;
  padding: 0px 200px;
  display: flex;
  align-items: end;
  border-bottom: solid 1px var(--blue);
  background: var(--white);
}

.intro-text {
  margin-bottom: 24px;
}

main {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  padding: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--green);
  padding: 32px 100px 50px 100px;
}

footer nav a {
  margin-right: 24px;
}

iframe {
  max-width: 510px;
  background-color: var(--white);
  margin: 30px 100px;
}

@media screen and (max-width: 800px) {
  header {
    position: -webkit-static; /* Safari */
    position: static;
    padding: 24px;
  }

  img {
    padding: 8px;
  }

  .intro {
    padding: 0px 24px;
    height: 270px;
  }

  .name {
    width: 90px;
  }

  nav a {
    margin: 0;
    padding: 2px 0px;
  }

  footer {
    padding: 24px 24px 100px 24px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  footer a {
    justify-content: flex-end;
  }

  iframe {
    margin: 0px 0px;
  }
}
